* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html {
    margin: 0;
    padding: 0;

}

body {

    background-color: #121212;
    margin-left: 1%;
    margin-right: 1%;
}

header {
    overflow: hidden;

}

a:link,
a:visited {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: orangered;
    -webkit-text-shadow: 0px 0px 9px orangered;
    text-shadow: 0px 0px 9px orangered;
    transition: all 0.3s linear;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 30px auto;
    border: solid 1px orangered;
    padding: 10px;
    border-radius: 12px;
}

.nav-list {
    display: flex;

}

.nav-list li {
    list-style: none;
    align-items: center;
    text-transform: uppercase;
    padding-left: 30px;
}


.logo img {
    display: flex;
    width: 120px;
    align-items: center;
}

.nav-list li a {
    font-size: 18px;
    text-decoration: none;
    padding-left: 15px;
    font-weight: 600;
}

.social-icons a i {
    font-size: 22px;
    padding-left: 10px;
}


.social-icons a i:hover {
    color: orangered;
    cursor: pointer;
    -webkit-text-shadow: 0px 0px 9px orangered;
    text-shadow: 0px 0px 9px orangered;
    transition: all 0.3s linear;
}



.toggel-bar {
    display: none;
    cursor: pointer;
}

.toggel-bar i {
    font-size: 20px;
}


.main-box {
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    height: 60vh;

}

.big-box {
    width: 58%;
    display: flex;
    background-color: rgba(255, 68, 0, 0.274);
    border-radius: 10px;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px;
    flex-direction: column;
    background-image: url('img/big.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.big-box h2{
    font-size: 32px;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.572);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.big-box h3{
    font-size: 40px;
    color: orangered;
    background-color: rgba(0, 0, 0, 0.572);
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    -webkit-text-shadow: 0px 0px 9px orangered;
    text-shadow: 0px 0px 9px orangered;
    
}
.small-box {
    width: 40%;
    display: flex;
    background-color: rgba(255, 68, 0, 0.274);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-image: url('img/imgform.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.big-box h1 {
    text-transform: uppercase;
    font-size: 36px;
    color: white;
    background-color: rgba(0, 0, 0, 0.572);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;

}

.small-box h1 {
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
}

.login {
    padding: 5%;
    display: flex;
    max-width: 400px;
    flex-direction: column;
    border-radius: 10px;
    height: auto;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.125);
    -webkit-box-shadow: 5px 5px 15px 5px #FFFFFF;
    box-shadow: 0px 0px 15px 2px #FFFFFF;
}


.login #username,
#password {
    margin-bottom: 20px;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 10px;

}

.login #username,
#password:focus {
    border: none;
    outline: none;
}

.btn {
    color: orangered;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 800;
}

.btn:hover {
    background-color: orangered;
    transition: all 0.3s linear;
    color: white;
}

label {
    color: white;
}

.main-box2 {
    display: grid;
    grid-template-columns: 28% 28% 40%;
    gap: 29px;
    width: 100%;
    max-width: 1440px;
    margin: 20px auto;
}

.product1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(255, 68, 0, 0.063);
    border-radius: 10px;
    background-image: url('img/iphone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin-right: 2%;

}

.product1 p {
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px;
    color: white;
    padding-bottom: 10px;

}

.product1 h2 {
    color: white;
    padding: 10px;
    font-size: 28px;
}

.product1 h2 span {
    color: orangered;
    -webkit-text-shadow: 0px 0px 5px orangered;
    text-shadow: 0px 0px 5px orangered;
}

.product2 h2 {
    color: white;
    padding: 10px;
    font-size: 28px;
}

.product2 {
    display: flex;
    background-color: rgba(255, 68, 0, 0.063);
    border-radius: 10px;
    justify-content: flex-start;
    background-image: url('img/macbook.jpg');
    background-size: cover;
    background-position: center;
    flex-direction: column;
    margin-right: 2%;
}

.product2 p {
    font-size: 20px;
    font-weight: 600;
    padding-left: 10px;
    color: white;

}

.product2 h2 span {
    color: orangered;
    -webkit-text-shadow: 0px 0px 9px orangered;
    text-shadow: 0px 0px 9px orangered;
}

.work {
    display: flex;
    background-color: rgba(255, 68, 0, 0.782);
    border-radius: 10px;
    justify-content: flex-start;
    padding: 10px;
    color: white;
    margin-right: 2%;
}


.insetimg{
    background-image: url('img/workteam.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    border-radius: 8px;
    width: 200px;
    
    margin-right: 10px;
}

.work h2{
    text-transform: capitalize;
    font-weight: 600;
    
}

.h2work{
    position: relative;
}
.h2work p{
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.work .h2work a{
    background-color: rgb(18, 18, 18);
    padding: 10px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.work .h2work a:hover{
    background-color: white;
    transition: all linear 0.3s ;
    color: orangered;
}

/*@media*/

@media only screen and (min-width: 1001px) {
    .nav-list {
        display: flex !important;
    }

    .hide {
        display: flex !important;
    }

    .toggel-bar {
        display: none !important;
    }
}


@media only screen and (max-width:1000px) {
    .toggel-bar {
        display: flex;
        z-index: 1000;

    }

    .toggel-bar i {
        font-size: 22px;

    }

    .close {
        display: none;
    }

    .hide {
        display: none;

    }

    .nav-bar {
        margin-left: 5px;
        margin-right: 5px;
    }

    .nav-list {
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #12121273;
        width: 70%;
        height: 100%;
        z-index: 1000;
        padding-top: 100px;
        display: none;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

    }

    .nav-list li {
        margin-bottom: 15px;

    }
    .nav-list li a{
        font-size: 20px;
    }

    .main-box {
        margin-left: 1%;
        margin-right: 1%;
    }

    .small-box {
        display: none;

    }

    .big-box {
        width: 100%;
        margin: 0 auto;
    }

    .main-box2 {
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 30px;
    }

    .work {
        margin-right: 1%;
    }

    .main-box2 {
        gap: 10px;
        width: 100%;
        max-width: 1440px;
        margin-right: 1%;
        margin-left: 1%;

    }

}

@media only screen and (max-width: 950px){
.main-box2{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    
}
.product1, .product2{
    height: 300px;
    
}
.social-icons{
    padding-right: 30px;
}
.work{
    height:200px;
    clear: both;
    margin-left: 0px;
    margin-right: 15px;
}

.main-box h1{
    font-size: 30px;
}
.main-box h2{
    font-size: 24px;
}

.product1{
    justify-content: center;
}

.product2{
    justify-content: center;
   
}

}

@media only screen and (max-width: 400px){
    .social-icons a i {
        font-size: 20px;
    }
}

@media only screen and (max-width: 400px){
    
    .logo img{
        width: 80px;
    }
}


